.input-group {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
}

.form-control {
    padding-right: 40px; 
    z-index: 1;
    background-color: transparent;
}
